# ---- Servidor y API ----
fastapi==0.111.0
uvicorn==0.30.1

# ---- Base de Datos OLAP ----
duckdb==1.0.0

# ---- Ciencia de Datos y Preprocesamiento ----
pandas==2.2.2
numpy==1.26.4

# ---- Machine Learning (Modelado) ----
scikit-learn==1.5.0
joblib==1.4.2

# ---- Visualización (Notebook EDA) ----
matplotlib==3.9.0
seaborn==0.13.2

# ---- Utilidades ----
pydantic==2.7.2
python-dotenv==1.0.0